/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
}

/* Estilos Globais */
body {
    background-color: #F4F4F4;
    color: #333;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
}

.container, section {
    max-width: 45rem; /* 720px */
    margin: 2rem auto; /* 20px */
    padding: 2rem; /* 20px */
    background: white;
    border-radius: 0.3125; /* 5px */
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1); /* 0 2px 5px */
}

/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.4rem; /* 24px */
    background: #007BFF;
    color: white;
}

header img {
    max-width: 6.25rem; /* 100px */
    height: auto;
    margin-right: 2rem; /* 20px */
}

header h1, h2 {
    font-family: "Roboto", sans-serif;
}

header p {
    font-size: 1.6rem;
    padding-bottom: 2.4rem; /* 24px */
}

/* Estilos de Habilidades e Progresso */
.skill {
    font-size: 1.6rem;
    margin-bottom: 2.4rem; /* 24px */
}

.progress {
    background-color: #E0E0E0;
    border-radius: 0.3125rem; /* 5px */
    overflow: hidden;
}

.progress-bar {
    height: 2rem; /* 20px */
    background-color: #007BFF;
    color: white;
    text-align: center;
    line-height: 2rem; /* 20px */
    transition: width 0.3s ease;
}

/* Botões */
.btn, .btn-download, .btn-notanimed {
    font-size: 1.6rem;
    padding: 1rem 2rem; /* 10px 20px */
    text-decoration: none;
    border-radius: 0.3125rem; /* 5px */
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.btn {
    font-size: 1.6rem;
    background: #FFFFFF;
    color: #007BFF;
}

.btn:hover {
    background: #eae7e7;
    color: #0b75e7;
    transform: scale(1.05);
}

.btn-download, .btn-notanimed {
    background-color: #4CAF50;
    color: white;
}

.btn-download:hover {
    background-color: #45A049;
}

.btn-notanimed:hover {
    background-color: #45A049;
}

/* Seções e Texto */
.section-p {
    text-align: justify;
    padding-bottom: 1.6rem; /* 16px */
}

h2 {
    margin-bottom: 1.6rem; /* 16px */
    color: #007BFF;
}

h3 {
    margin-bottom: 0.8rem; /* 8px */
}

/* Ícones */
i {
    display: flex;
    align-items: center;
    padding: 0.5rem; /* 5px */
}

.ico-html { color: #E44D26; }
.ico-css { color: #1572B6; }
.ico-js { color: #F7DF1E; }
.ico-php { color: #8993BE; }

/* Listas */
ul {
    list-style-type: none;
}

/* Rodapé */
footer {
    font-size: 1.6rem;
    text-align: center;
    padding: 2rem; /* 20px */
    background: #007BFF;
    color: white;
    width: 100%;
}

/* Media Queries */

@media (max-width: 34rem) /* 340px */and (max-width: 1024px) {
    header {
        margin-bottom: 1rem; /* 10px */
        flex-direction: column;
        align-items: center;
        padding: 1.6rem;
    }

    header img {
        display: block;
        margin: 0 auto;
        margin-bottom: 1rem; /* 10px */
    }

    .container, section {
        margin: 1rem; /* 10px */
        padding: 1.5rem; /* 15px */
        max-width: 100%;
    }

    .btn, .btn-download, .btn-notanimed {
        width: 100%;
        margin-bottom: 1rem; /* 10px */
    }
}

.btn-download {
    animation: btnbalanca 4s infinite;
    cursor: pointer;
}

@keyframes btnbalanca {
    5%,
    50% {
        transform: scale(1);
    }

    10% {
        transform: scale(1);
    }

    15% {
        transform: scale(1);
    }

    20% {
        transform: scale(1) rotate(-5deg);
    }

    25% {
        transform: scale(1) rotate(5deg);
    }

    30% {
        transform: scale(1) rotate(-3deg);
    }

    35% {
        transform: scale(1) rotate(2deg);
    }

    40% {
        transform: scale(1) rotate(0);
    }
}